{% extends 'layout.html' %}

{% block title %}
	Calculator
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
	<br>
	<div id="leftside">
		<h4>Fence Dimensions</h4>
		<br>
		<form id="input-form" action="/calculator" method="POST">
			<input autocomplete="false" name="hidden" type="text" style="display: none;">
			<table>
				<tr>
					<td>
						<label for="fence-length">Fence Length</label>
					</td>
					<td class="io">
						<input type="number" id="fence-length" name="fence-length" step="0.1" min="15">
					</td>
					<td class="left">
						m
					</td>
				</tr>
				<tr>
					<td>
						<label for="fence-height">Fence Height</label>
					</td>
					<td class="io">
						<input type="number" id="fence-height" name="fence-height" step="0.1" min="0.5" max="1.8">
					</td>
					<td class="left">
						m
					</td>
				</tr>
				<tr>
					<td>
						<label for="pailing-spacing">Pailing Spacing</label>
					</td>
					<td class="io">
						<input type="number" id="pailing-spacing" name="pailing-spacing" step="1" min="0" max="50">
					</td>
					<td class="left">
						mm
					</td>
				</tr>
				</form>
				<tr>
					<td>
						<button id="reset">Reset</button>
					</td>
					<td>
						<button type="submit" value="submit">Calculate</button>
					</td>
				</tr>
			</table>
		</form>
		<br>
		<div id="messages">
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		</div>
	</div>
	<div id="rightside">
		<table>
			<tr align="center">
				<td>
					<h4>Materials Required</h4>
				</td>
				<td>
					<h4>Estimated Pricings</h4>
				</td>
			</tr>
			<tr class="bordered">
				<td>
					<table>
						<tr>
							<td>
								<strong>Posts:</strong>
							</td>
							<td class="centered io">
								{{ outputs['posts'] }}
							</td>
						</tr>
						<tr>
							<td>
								Post Length:
							</td>
							<td class="centered io">
								{{ outputs['post_length'] }} m
							</td>
						</tr>
						<tr>
							<td>
								Post Spacing:
							</td>
							<td class="centered io">
								{{ outputs['post_spacing'] }} m
							</td>
						</tr>
					</table>
				</td>
				<td class="centered io">
					${{ outputs['posts_price'] }}
				</td>
			</tr>
			<tr class="bordered">
				<td>
					<table>
						<tr>
							<td>
								<strong>Rails:</strong>
							</td>
							<td class="centered io">
								{{ outputs['rails'] }}
							</td>
						</tr>
						<tr>
							<td>
								Rail Length:
							</td>
							<td class="centered io">
								{{ outputs['rail_length'] }} m
							</td>
						</tr>
						<tr>
							<td>
								Rows of Rails:
							</td>
							<td class="centered io">
								{{ outputs['rows_of_rails'] }}
							</td>
						</tr>
					</table>
				</td>
				<td class="centered io">
					${{ outputs['rails_price'] }}
				</td>
			</tr>
			<tr class="bordered">
				<td>
					<table>
						<tr>
							<td>
								<strong>Pailings:</strong>
							</td>
							<td class="centered io">
								{{ outputs['pailings'] }}
							</td>
						</tr>
						<tr>
							<td>
								Pailing Length:
							</td>
							<td class="centered io">
								{{ outputs['pailing_length'] }} m
							</td>
						</tr>
						<tr>
							<td>
								Pailing Width:
							</td>
							<td class="centered io">
								{{ outputs['pailing_width'] }} mm
							</td>
						</tr>
					</table>
				</td>
				<td class="centered io">
					${{ outputs['pailings_price'] }}
				</td>
			</tr>
			<tr class="bordered">
				<td>
					<table>
						<tr>
							<td>
								<strong>Concrete Bags:</strong>
							</td>
							<td class="centered io">
								{{ outputs['bags'] }}
							</td>
						</tr>
						<tr>
							<td>
								Bag Weight:
							</td>
							<td class="centered io">
								{{ outputs['bags_weight'] }} kg
							</td>
						</tr>
					</table>
				</td>
				<td class="centered io">
					${{ outputs['bags_price'] }}
				</td>
			</tr>
			</table>
		<br>
		<h4>Estimated Total: ${{ outputs['total_price'] }}</h4>
	</div>
{% endblock content %}
