<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} | Timber Fencing Supplies</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='scripts/global.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg">
		<p class="navbar-brand">Timber Fencing Supplies</p>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="link nav-link" onclick="link('homepage')">Home</a>
				</li>
				<li class="nav-item">
					<a class="link nav-link" href="{{ url_for('calculator') }}">Calculator</a>
				</li>
				<li>
					<input type="text" placeholder="Search" id="searchbar">
				</li>
			</ul>
		</div>
	</nav>
	<hr>
	<div id="box">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		<hr>
		<p>&copy; Timber Fencing Supplies</p>
	</div>
</body>

</html>
